.StylesEventHome {
  background-color: #f5f5dfd6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
}

.StyleImg {
  border-radius: 25%;
  width: 220px;
  height: 220px;
  padding: 1em;
  float: left;
  opacity: 1;
}

.lista {
  list-style: none;
}
