.carousel{
  height: 350px;
}
.texto{
 
  padding: 1%;
}
.carru{
  
  display: flex;
  align-items: center;
  padding: 1%;
}

@media (max-width: 600px) {
  .carru {
    
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel{
    height: auto;
  }
}