.StyleCarouselOpacity {
  background-color: rgb(209, 209, 113);
}

.StyleCarousel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel {
  padding: 1.8em;
  padding-left: 6em;
  padding-right: 6em;
}

.carousel-item img {
  width: 10px;
  height: 550px;
}
