.StyleHome {
  /* background-image: url("https://thumbs.dreamstime.com/z/modelo-incons-til-del-vector-de-los-objetos-espacio-fondo-blanco-y-negro-la-repetici%C3%B3n-con-el-planeta-estrella-nave-espacial-150257360.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.StyleImg {
  border-radius: 14%;
  width: 480px;
  height: 480px;
  padding: 4em;
  float: right;
}

.arreglarcarrusel {
  display: flex;
  position: relative;
}

.conocenos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutus {
  display: flex;
  align-items: center;
  background-color: #f5f5dfd6;
  width: 80%;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
}
