.StylesHistory {
  /* background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg"); */
  background-color: #f5f5dfd6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
}
